<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300|Rubik+Mono+One|Source+Sans+Pro:400i,900i&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>Creative Engine</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Creative Engine</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="instructions">Instructions</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form class=""  action="/" method="POST">
          <div class="form-group">
            <label for="caption">Insert instagram username here:</label>
            <input type="text" name="username" id="username" class="form-control" rows="8" cols="80"></textarea>
            <label for="start">Insert start of each caption here:</label>
            <input type="text" name="start" id="start" class="form-control" rows="8" cols="80"></textarea>
            <label for="caption">Insert end of each caption here:</label>
            <input type="text" name="end" id="end" class="form-control" rows="8" cols="80"></textarea>
          </div>
          <button type="submit">GENERATE</button>
        </form>
        <p class="title">
        {{label}}
      </p>
      {% if caption %}
      <p>
        {{caption}}
      </p>
      {% endif %}
      </div>
      <div class="col-sm-4"></div>
    </div>

  </body>
</html>
