<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300|Rubik+Mono+One|Source+Sans+Pro:400i,900i&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>Creative Engine</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Creative Engine</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="instructions">Instructions</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <p class="title"> Instructions </p>
        <p style="font-size: 150%"> To use this app input the username of the account you want to use in the username field. If you want to use a partial caption for image descriptions, put the word or characters that come before your description in the start box, and the word or characters that come after in the end box.
          <br><br> For example, the account <a href="https://www.instagram.com/creative_engine_project/"> creative_engine_project </a> always has the characters "/30" in the beginning of an image description, so this would go in the start box, and it always ends an image description with "About this project", so that can go in the end text box.

          <br><br>
          To generate based on whole instagram captions, leave these boxes blank.
        </p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </body>
</html>
