<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300|Rubik+Mono+One|Source+Sans+Pro:400i,900i&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>Creative Engine</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Creative Engine</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="instructions">Instructions</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <p class="title"> Instructions </p>
        <p style="font-size: 150%">
          This is an app that generates prompts for art generation based on past instagram captions.
          <br> <br>
           To use this app input the username of the account you want to use in the username field. This will be the account that the generated caption will be based off of. If you consistently start or end your instagram posts with the same blocks of text, you can put in this text (or a portion thereof) in the start and end text boxes. For the start text box, put the end few words or characters of your block of text. For the end text box, put the first few words or characters of your block of text. These blocks of text should be not be contained elsewhere in the captions, so they should be somewhat unique.
          <br><br> For example, the account <a href="https://www.instagram.com/creative_engine_project/"> creative_engine_project </a> always has the phrase "Image Description:" before the image description, so this would go in the start box, and it always ends an image description with "About this project", so that can go in the end text box.

          <br><br>
          To generate based on whole instagram captions, leave these boxes blank.
          <br><br>
          To use this website to generate artistic prompts, it is highly recommended to create a second Instagram account to create these descriptions. If there are not enough or long enough descriptions, this application will not work. The sample Instagram account writes a 20 word description of each piece, which is sufficient for training, whereas 5 word descriptions are unlikely to work.
        </p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </body>
</html>
