/* main.css */
body {
 background-color: #FFFFFF;
 color: #FFFFFF;
}
h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}
p {
 text-align: right;
}

label {
  background-color: #E09500;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  width: 100%;
}

button {
  background-color: #D72638;
  font-size: 300%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  border-radius: 20px;
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type=text] {
  padding: 30px;
  padding-right: 30px;
  font-size: 30px;
}

nav.navbar{
  background-color: #FFFFFF;
  padding:40px;
  height: 100px;
  width: 100%;
}

.navbar-brand{
  background-color: #008C89;
  color: #FFFFFF;
  font-size: 500%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;

  padding: 40px;
  margin: 10px;
  height: 100%;
  border-radius: 15px;
}
.navbar-brand:hover{
  background-color: #008C89 !important;
  color: #FFFFFF;
  font-size: 500%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 40px;
  margin: 10px;
  height: 100%;
  border-radius: 15px;
}


li{
  color: #FFFFFF;
  background-color: #98D193;
  padding: 20px;
  margin: 10px;
  height: 100%;
  border-radius: 15px;
  font-size: 200%;
  width: 100%;
}
li:hover{
  color: #FFFFFF;
  background-color: #98D193;
  padding: 20px;
  margin: 10px;
  height: 100%;
  border-radius: 15px;
  font-size: 200%;
  width: 100%;
}
a{
  color: inherit;
  font-family: 'Source Sans Pro', sans-serif;

}
a:hover{
  background-color:inherit !important;
  color:inherit !important;
}

p.title{
  background-color: #E09500;
  color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 0%;
  padding: 0%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: 300%;
  width: 100%;
  align: center;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border: 0px;

}
p{
  color: #000000;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  width: 100%;
  align: center;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid black;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}
